<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>US Ski Team 2022</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="bg">
      
    <div class="jumbotron text-center bg-transparent">
      <h1></h1>
      <p style="color:white">  <font size="6"> <b>2022 USA National Ski Teams <br> &&  <br> Popular Mountins Located in the USA </b> </font> </p>
      <p><a class="btn btn-primary btn-lg" href="map.html" role="button">Get Data!</a></p>
    </div>
    <!-- <img src="mountains.jpg" width="1600" height="800" alt="Italian Trulli"> -->
    <div class="container-fluid">
    
      <img src="{{ vacation.sloth_img }}" alt="Sloth">
      <h2> <b> Please Choose Region :</h2>
        <label for="Region">Please Choose Region:</label>

          <select id="Region">
            <option value="North-East Coast">North-East Coast</option>
            <option value="West Coast">West Coast</option>
            <option value="South-West">South-West</option>
            <option value="South-East" selected>South-East</option>
          </select>
      <!-- <ul>
        <li> <font size="5"> <b> Item 1 </b> </font> </li>
        <li> <font size="5"> <b> Item 1 </b> </font> </li>
        <li> <font size="5"> <b> Item 1 </b> </font> </li>
        <li> <font size="5"> <b> Item 1 </b> </font> </li>
        <li> <font size="5"> <b> Item 1 </b> </font> </li>  
      </ul> -->

    </div>
    </div>
  </div>
</body>

</html>

